# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: my-app
  name: my-app
spec:
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      deployment: my-app
  template:
    metadata:
      labels:
        deployment: my-app
    spec:
      containers:
      - image: image-registry.openshift-image-registry.svc:5000/cicd-workshop/my-app:8630a1e16162e6078830f63fd30fa6f4fe4358a5
        imagePullPolicy: IfNotPresent
        name: my-app
        ports:
        - containerPort: 8080
          protocol: TCP
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: my-app
  name: my-app
spec:
  ports:
  - name: 8080-tcp
    port: 8080
  selector:
    deployment: my-app
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: my-app
  name: my-app
spec:
  host: ''
  port:
    targetPort: 8080-tcp
  to:
    kind: Service
    name: my-app
    weight: 100
  wildcardPolicy: None
